@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  --card: #ffffff;
  --card-foreground: #0f172a;

  --primary: #16a34a;
  --primary-foreground: #ffffff;

  --secondary: #f1f5f9;
  --secondary-foreground: #0f172a;

  --muted: #f8fafc;
  --muted-foreground: #64748b;

  --border: #e2e8f0;
}

.dark {
  --background: #050505;
  --foreground: #ffffff;

  --card: #111111;
  --card-foreground: #ffffff;

  --primary: #22c55e;
  --primary-foreground: #ffffff;

  --secondary: #1e293b;
  --secondary-foreground: #ffffff;

  --muted: #111827;
  --muted-foreground: #94a3b8;

  --border: #262626;
}

@theme inline {

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);

}

* {
  border-color: var(--border);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family:
    var(--font-inter),
    sans-serif;

  overflow-x: hidden;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #16a34a;
  color: white;
}

img {
  user-select: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}